<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Package Calculator</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    </head>
    <body ng-app="compensation" ng-controller="CalcCtrl">
		<h3>General Parameters</h3>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="mpfEmployer" class="col-sm-4 control-label">MPF employer contribution</label>
				<div class="input-group col-sm-2">
					<input type="number" min="0" step="0.01" class="form-control" ng-model="mpfEmployer" id="mpfEmployer" placeholder="Contribution">
					<div class="input-group-addon">%</div>
				</div>
				<label for="mpfEmployerCap" class="col-sm-4 control-label">MPF contribution cap amount</label>
				<div class="input-group col-sm-2">
					<div class="input-group-addon">$</div>
					<input type="number" min="0" step="0.01" class="form-control" ng-model="mpfEmployerCap" id="mpfEmployerCap" placeholder="Amount">
				</div>
				<label for="workingDay" class="col-sm-4 control-label">Working Days per year</label>
				<div class="input-group col-sm-2">
					<input type="number" min="0" step="1" class="form-control" ng-model="workingDay" id="workingDay" placeholder="Day(s)">
					<div class="input-group-addon">Day(s)</div>
				</div>
			</div>
		</form>
		<h3>Your information</h3>
		<div class="row">
			<div class="col-xs-6 form-group">
				<label for="base" class="control-label">Annual Base Salary</label>
				<div class="input-group">
					<div class="input-group-addon">$</div>
					<input type="number" min="0" step="0.01" class="form-control" id="base" ng-model="base" placeholder="Amount">
				</div>
			</div>
			<div class="col-xs-6 form-group">
				<label for="bonus" class="control-label">Incentive Bonus</label>
				<div class="input-group">
					<div class="input-group-addon">$</div>
					<input type="number" min="0" step="0.01" class="form-control" id="bonus" ng-model="bonus" placeholder="Amount">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 form-group">
				<label for="orsoEmployee" class="control-label">ORSO employee contribution</label>
				<div class="input-group">
					<input type="number" min="0" step="0.5" class="form-control" id="orsoEmployee" ng-model="orsoEmployee" placeholder="Percentage">
					<div class="input-group-addon">%</div>
				</div>
			</div>
			<div class="col-xs-6 form-group">
				<label for="leave" class="control-label">Number of Annual Leave(s)</label>
				<div class="input-group">
					<input type="number" min="0" step="1" class="form-control" id="leave" ng-model="leave" placeholder="Day(s)">
					<div class="input-group-addon">Day(s)</div>
				</div>
			</div>
		</div>
    <div class="row">
      <div class="col-xs-6 form-group">
        <label for="dirConYear" class="control-label">Year(s) of direct contract</label>
        <div class="input-group">
          <input type="number" min="0" step="0.01" class="form-control" id="dirConYear" ng-model="dirConYear" placeholder="Year(s)">
          <div class="input-group-addon">Year(s)</div>
        </div>
      </div>
      <div class="col-xs-6 form-group">
        <label for="permYear" class="control-label">Year(s) of permanent service</label>
        <div class="input-group">
          <input type="number" min="0" step="0.01" class="form-control" id="permYear" ng-model="permYear" placeholder="Year(s)">
          <div class="input-group-addon">Year(s)</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 form-group">
        <label for="meal" class="control-label">Meal Claim/Call out</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" min="0" step="0.01" class="form-control" id="meal" ng-model="meal" placeholder="Amount">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 form-group">
        <label for="spouse" class="control-label">Spouse/Domestic partner</label>
        <input type="checkbox" class="form-control" id="spouse" ng-model="spouse">
      </div>
      <div class="col-xs-6 form-group">
				<label for="children" class="control-label">Number of child/children</label>
        <input type="number" min="0" step="1" class="form-control" id="children" ng-model="children" placeholder="Children">
			</div>
    </div>
    <h3>Flex Credit Entitlement</h3>
        <div>
            Insurance Credits:                 {{getInsurance() | currency}} <br>
            Standard Credits:                  {{getStdInsurance() | currency}} <br>
            Spouse / Domestic Partner Credits: {{getSpouseInsurance() | currency}} <br>
            Children Credits:                  {{getChildrenInsurance() | currency}} <br>
            Health Screening:                  {{getHealthScreeningValue() | currency}} <br>
            Total Medical Credits:             {{getInsuranceTotal() | currency}}
        </div>
        <h3>Annual Leave Monetary Value</h3>
        <div>
            Daily rate: {{getDailyRate() | currency}} <br>
            Annual:  {{getAnnualLeaveValuePerYear()| currency}}
        </div>
        <h2>ORSO</h2>
        <div>
			      ORSO employer contribution: {{getOrsoEmplrPercent() | number:2}} <br>
            ORSO contribed by Employer (Annual): {{getOrsoEmplr() | currency}} <br>
            MPF contribed by Employer (Annual):  {{getMpf() | currency}} <br>
            Difference:                          {{getOrsoMpfDiff() | currency}}
        </div>
        <h2>Termination Payments</h2>
        <div>
            Statutory payment amount: {{getStatutory() | currency}} <br>
            Severance Payment amount: {{getSeverance() | currency}} <br>
            Total Termination payment: {{getTotalTermPay() | currency}}
        </div>
        <h2>Your Package</h2>
        <div>
            Total (annual):  {{getTotal() }} <br>
            Total (monthly): {{getTotal()/12 | currency}} <br>
            Breakeven increment: {{getBreakEvenPercent() | number:2}}%
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</html>
