<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Package Calculator</title>
        <link rel="stylesheet" href="package.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-app="compensation" ng-controller="CalcCtrl" class="container-fluid ng-scope">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your information</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="base" class="control-label">Annual Base Salary</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" min="0" step="0.01" class="form-control amount" id="base" ng-model="base" placeholder="Amount">
                    </div>
                </div>
                <div class="col-xs-6 form-group">
                    <label for="bonus" class="control-label">Incentive Bonus</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" min="0" step="0.01" class="form-control amount" id="bonus" ng-model="bonus" placeholder="Amount">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="orsoEmployee" class="control-label">ORSO employee contribution</label>
                    <div class="input-group">
                        <input type="number" min="0" step="0.5" class="form-control amount" id="orsoEmployee" ng-model="orsoEmployee" placeholder="Percentage">
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
                <div class="col-xs-6 form-group">
                    <label for="leave" class="control-label">Number of Annual Leave(s)</label>
                    <div class="input-group">
                        <input type="number" min="0" step="1" class="form-control amount" id="leave" ng-model="leave" placeholder="Day(s)">
                        <div class="input-group-addon">Day(s)</div>
                    </div>
                </div>
            </div>
          <div class="row">
            <div class="col-xs-6 form-group">
              <label for="dirConYear" class="control-label">Year(s) of direct contract</label>
              <div class="input-group">
                <input type="number" min="0" step="1" class="form-control amount" id="dirConYear" ng-model="dirConYear" placeholder="Year">
                <div class="input-group-addon">Year(s)</div>
                <input type="number" min="0" max="11" step="1" class="form-control amount" id="dirConMonth" ng-model="dirConMonth" placeholder="Month">
                <div class="input-group-addon">Month(s)</div>
              </div>
            </div>
            <div class="col-xs-6 form-group">
              <label for="permYear" class="control-label">Year(s) of permanent service</label>
              <div class="input-group">
                <input type="number" min="0" step="1" class="form-control amount" id="permYear" ng-model="permYear" placeholder="Year">
                <div class="input-group-addon">Year(s)</div>
                <input type="number" min="0" max="11" step="1" class="form-control amount" id="permMonth" ng-model="permMonth" placeholder="Month">
                <div class="input-group-addon">Month(s)</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 form-group">
                <label for="spouse" class="control-label">Spouse/Domestic partner</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" id="spouse" ng-model="spouse" aria-label="...">
                    </span>
                    <label for="spouse" class="control-label form-control" aria-hidden="true"></label>
                </div>
            </div>
            <div class="col-xs-6 form-group">
              <label for="children" class="control-label">Number of child/children</label>
              <input type="number" min="0" step="1" class="form-control amount" id="children" ng-model="children" placeholder="Children">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 form-group">
              <label for="meal" class="control-label">Meal Claim/Call out</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" min="0" step="0.01" class="form-control amount" id="meal" ng-model="meal" placeholder="Amount">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">General Parameters</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="mpfEmployer" class="control-label">MPF employer contribution</label>
                    <div class="input-group">
                        <input type="number" min="0" step="0.01" class="form-control amount" ng-model="mpfEmployer" id="mpfEmployer" placeholder="Contribution">
                        <div class="input-group-addon">%</div>
                    </div>
            </div>
            <div class="form-group">
                    <label for="mpfEmployerCap" class="control-label">MPF contribution cap amount</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" min="0" step="0.01" class="form-control amount" ng-model="mpfEmployerCap" id="mpfEmployerCap" placeholder="Amount">
                    </div>
            </div>
            <div class="form-group">
                    <label for="workingDay" class="control-label">Working Days per year</label>
                    <div class="input-group">
                        <input type="number" min="0" step="1" class="form-control amount" ng-model="workingDay" id="workingDay" placeholder="Day(s)">
                        <div class="input-group-addon">Day(s)</div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Flex Credit Entitlement</h3>
      </div>
      <table class="table table-condensed table-hover">
        <tbody>
          <tr>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
            <td>Insurance Credits</td>
            <td><span ng-bind="getInsurance()|currency"></span></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
            <td>Standard Credits</td>
            <td><span ng-bind="getStdInsurance()|currency"></span></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
            <td>Spouse / Domestic Partner Credits</td>
            <td><span ng-bind="getSpouseInsurance()|currency"></span></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
            <td>Children Credits</td>
            <td><span ng-bind="getChildrenInsurance()|currency"></span></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
            <td>Health Screening</td>
            <td><span ng-bind="getHealthScreeningValue()|currency"></span></td>
          </tr>
          <tr class="success">
            <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
            <td>Total Medical Credits</td>
            <td><span ng-bind="getInsuranceTotal()|currency"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Annual Leave Monetary Value</h3>
      </div>
      <table class="table table-condensed table-hover">
        <tbody>
          <tr>
            <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
            <td>Daily Rate</td>
            <td><span ng-bind="getDailyRate()|currency"></span></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
            <td>Annual Rate</td>
            <td><span ng-bind="getAnnualLeaveValuePerYear()|currency"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Occupational Retirement Schemes Ordinance</h3>
      </div>
      <table class="table table-condensed table-hover">
        <tbody>
          <tr>
            <td><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></td>
            <td>ORSO employer contribution</td>
            <td><span ng-bind="getOrsoEmplrPercent()|number:2"></span>%</td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
            <td>ORSO contributed by Employer (Annual)</td>
            <td><span ng-bind="getOrsoEmplr()|currency"></span></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
            <td>MPF contributed by Employer (Annual)</td>
            <td><span ng-bind="getMpf()|currency"></span></td>
          </tr>
          <tr class="info">
            <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
            <td>ORSO - MPF Difference</td>
            <td><span ng-bind="getOrsoMpfDiff()|currency"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Termination Payment</h3>
      </div>
      <table class="table table-condensed table-hover">
        <tbody>
          <tr>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
            <td>Statutory Payment Amount</td>
            <td><span ng-bind="getStatutory()|currency"></span></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
            <td>Severance Payment Amount</td>
            <td><span ng-bind="getSeverance()|currency"></span></td>
          </tr>
          <tr class="success">
            <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
            <td>Total Termination Payment</td>
            <td><span ng-bind="getTotalTermPay()|currency"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Total Compensation Package Worth</h3>
      </div>
      <table class="table table-condensed table-hover">
        <tbody>
          <tr>
            <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
            <td>Monthly Base Salary (nearest dollar and benefits excluded)</td>
            <td><span ng-bind="getMonthlyWages()|currency"></span></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
            <td>Annual Total Compensation</td>
            <td><span ng-bind="getTotal()|currency"></span></td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
            <td>Monthly Total Compensation</td>
            <td><span ng-bind="getTotal()/12|currency"></span></td>
          </tr>
          <tr class="info">
            <td><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></td>
            <td>Breakeven increment (for contract without benefit)</td>
            <td><span ng-bind="getBreakEvenPercent()|number:2"></span>%</td>
          </tr>
        </tbody>
      </table>
    </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</html>
